/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.jpg
*.jpg
public/uploads/f6f31101-f1e4-4bb1-a8a6-a0f6961f51d4.png
public/uploads/42189aa1-c4f7-425d-bec9-58da3bff1e23.gif
